@model IEnumerable<SBPatients.Models.MedicationType>

@{
    ViewData["Title"] = "Index";
}

<h3 class="alert-danger">@TempData["DeleteError"]</h3>
<h2>List of Medication Types</h2>
<h3 class="text-danger">@TempData["Error"]</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*This makes the column a hyperlink which passes the ID and Name to SBMedication controller*@
                    <a asp-controller="SBMedication" asp-action="Index" asp-route-id="@item.MedicationTypeId" asp-route-name="@item.Name">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MedicationTypeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MedicationTypeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MedicationTypeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
