@model IEnumerable<SBPatients.Models.Medication>

@{
    ViewData["Title"] = @TempData["MedicationTypeName"];
}

<h2 class="alert-danger">@TempData["UpdateMessage"]</h2>

<h2 class="alert-danger">@TempData["DeleteError"]</h2>

<h2 class="page-header">List of Medications for '@TempData["MedicationTypeName"]'</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concentration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConcentrationCodeNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DispensingCodeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Concentration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConcentrationCodeNavigation.ConcentrationCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DispensingCodeNavigation.DispensingCode)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Din" asp-route-code="@item.ConcentrationCode">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Din">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Din">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
